.content-section-div {
    height: calc(90% - 8px);
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    padding: 10px;
    margin: 18px auto 0px auto;
    background-color: #FFE6E6;
    min-width: 40%;
    max-width: 80%;
    color: #500;
}

.content-section-div span {
    padding-right: 4px;
    font-weight: 700;
    font-size: 12pt;
}

.page-scope {
    display: none;
}

h4 {
    width: 100%;
    text-align: left;
    font-size: medium;
    font-weight: 700;
    margin: 6px 0px 0px 0px;
    border-radius: 2px;
    background-color: #EED5D5;
    padding: 6px 4px;
}